.cart-item {
    background-color: var(--green-500);
    border-radius: 1rem;

    width: 80%;
    max-height: 400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

.cart-item-image {
    width: 100%;
    overflow: hidden;
}

.cart-item-image img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.cart-item-details {
    padding: 1rem;
}

@media (min-width: 1024px) {
    .cart-item {
        width: 400px;
    }
}