


.search-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    
    width: 80%;
    margin: 0 auto 2rem;
}

.search-filters button {
    border: none;
    border-radius: .8rem;
    background-color: var(--txt-color);
    color: var(--bg-color);
    padding: 1rem;

    font-size: 1.1rem;
    font-weight: 500;
    font-family: inherit;
}

.search-filters button.active {
    background-color: var(--red-accent);
    color: var(--txt-color);
}