main {
    max-width: 1200px;
    margin-inline: auto;
    padding-block: 1.5rem;

    /* position: relative; */
}

main:has(section#cart-page) {
    min-height: 100vh;
}

main section#cart-page {
    min-height: 100vh;
}