
/* light */
@font-face {
    font-family: fa;
    font-weight: 300;
    src: url('./assets/fonts/Switzer-Light.woff2') format('woff2'),
            url('./assets/fonts/Switzer-Light.woff') format('woff');
}
/* regular */
@font-face {
    font-family: fa;
    font-weight: 400;
    src: url('./assets/fonts/Switzer-Regular.woff2') format("woff2"),
            url('./assets/fonts/Switzer-Regular.woff') format("woff");
}
/* medium */
@font-face {
    font-family: fa;
    font-weight: 500;
    src: url('./assets/fonts/Switzer-Medium.woff2') format("woff2"),
            url('./assets/fonts/Switzer-Medium.woff') format("woff");
}
/* bold */
@font-face {
    font-family: fa;
    font-weight: 700;
    src: url('./assets/fonts/Switzer-Bold.woff2') format("woff2"),
            url('./assets/fonts/Switzer-Bold.woff') format("woff");
}
/* extra-bold */
@font-face {
    font-family: fa;
    font-weight: 800;
    src: url('./assets/fonts/Switzer-Extrabold.woff2') format("woff2"),
            url('./assets/fonts/Switzer-Extrabold.woff') format("woff");
}
/* black */
@font-face {
    font-family: fa;
    font-weight: 900;
    src: url('./assets/fonts/Switzer-Black.woff2') format("woff2"),
            url('./assets/fonts/Switzer-Black.woff') format("woff");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ?COLORS */
    --green-900: #091B11;
    --green-500: #AFA460;
    --green-100: #EBE7CE;

    --red-accent: #B72C14;

    transition: all .3s ease-in-out;
}

:root[data-theme="dark"] {
    --bg-color: var(--green-900);
    --txt-color: var(--green-100);
    --green-accent: var(--green-500);

    --hero-cta: var(--green-accent);
    --footer-bg: var(--green-accent);
}

:root[data-theme="light"] {
    --bg-color: var(--green-100);
    --txt-color: var(--green-900);
    --green-accent: var(--green-500);

    --hero-cta: var(--txt-color);
    --footer-bg: var(--txt-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-family: 'fa', sans-serif;

    transition: all .3s ease-in-out;
}

body:has(nav.is-open) {
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
}

#root {
    padding-inline: 1rem;
    /* position: relative; */
}